body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.restaurant {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

.restaurant img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    flex: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}
